/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-transform: uppercase;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE CSS */

/* Form Container */ 

#form-container {
	background-color: aliceblue;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 350px;
	border-right: 2px solid black;
}

#site-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

#site-name {
	text-align: center;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 900;
}

#form-container form {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	height: calc(100vh - 100px);
	padding: 0px 20px;
	row-gap: 20px;
}

#form-container form h2 {
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}

#form-container form div {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

#form-container form div label {
	padding-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#form-container form div input {
	padding: 10px;
	background-color: white;
	border: 1.5px solid black;
	border-radius: 5px;
	box-shadow: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#form-container form div button {
	justify-content: center;
	width: 200px;
	height: 40px;
	margin: auto;
	text-transform: uppercase;
}

/* Libray Container */

#library-container {
	padding: 20px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 20px;  
	height: auto;
	transform: translateX(350px);
	width: calc(100vw - 390px);
}

/* Book Container */

#library-container div {
	background-color: aliceblue;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	text-align: center;
	
	height: 30vh;
	min-width: 350px;
	padding: 20px 0px;

	border: 2px solid black;
	border-radius: 20px;
}

#library-container div h2 {
	font-size: 36px;
	padding: 0px 10px 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#library-container div p {
	font-size: 18px;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}