/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE CSS */


#site-name {
	text-align: center;
    font-size: 40px;
}

/* Form Container */ 

#form-container {
	background-color: antiquewhite;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 350px;
}

#form-container form div {
	display: flex;
	padding: 0px 20px;
	flex-flow: column wrap;
}

/* Libray Container */

#library-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;  
	height: auto;
	transform: translateX(350px);
	width: calc(100vw - 350px);
}

/* Book Container */

#library-container div {
	background-color: lightblue;
	height: 100vh;
	height: auto;
	padding: 20px 0px;
    text-align: center;
}

#library-container div h2 {
	font-size: 36px;
	padding-bottom: 10px;
}

#library-container div p {
	font-size: 18px;
}